<style >
  * {
    font-family: Arial;
    margin-top:10px;
    line-height: 1.5em;
  }
  input,select{
    width: 10%;
    min-width:200px;
  }
  section{
    margin:10px auto;
  }
  button{
    border: 1px solid teal;
    background-color: turquoise;
    padding: 5px;
  }
  .message{
    margin-left: 10px;
  }
  .note{
    font-size:0.7em;
  }
  .results{
    background-color: aliceblue;
    margin-top:20px;
    padding:10px
  }
</style>
<section class="simulation" >
  <h1>Simulation of a moving object in a playground</h1>
  <p>Please specify the shape of the playground, right now it accepts only rectangle or simple polygon!</p>
    Select Shape <select id="shape" name="shape">
      <option value=""></option>
      <option value="rectangle">Rectangle</option>
      <option value="polygon">Polygon</option>
    </select>
    <br/>
    <span id="rectangleConfig" style="display: none">
      Width and height of rectangle:
      <input type="input" name="dimension" id="dimension" placeholder="width,height"/>
      <message id="rectangleConfig-message" class="message"></message>
    </span>
    <span id="polygonConfig" style="display: none">
      Coordinates of consecutive vertices (vertex separator: dash and coordinates separator: comma)
      <input type="input" name="dimensions" id="dimensions" placeholder="x1,y1 - x2,y2 - x3,y3 - x4,y4"/>
      <message id="polygonConfig-message" class="message"></message>
    </span>
    <span id="startPointConfig" >
      Start Point Coordinates (x,y):
      <input type="input" name="startPoint" id="startPoint" placeholder="x,y"/>
      <message id="startPointConfig-message" class="message"></message>
    </span>
    <span id="commandConfig" style="display: none">
      Command query :
      <input type="input" name="commandQuery" id="commandQuery" placeholder="4,3,2,1,0"/><message id="commandConfig-message" class="message"></message><br/>

      <span class="note"> Command query should end with 0, use from the command list and separate with comma ',' Commands list: <br/>
        • 0 = quit simulation and print results<br/>
        • 1 = move forward one step<br/>
        • 2 = move backwards one step<br/>
        • 3 = rotate clockwise 90 degrees<br/>
        • 4 = rotate counterclockwise 90 degrees
      </span>
      <!--<br/>Delay commands in milliseconds:<br/> for further extension
      <input type="input" name="delayCommand" id="delayCommand" placeholder="delay (default 500ms)"/><br/>-->
    </span>
    <br/><button id="start">Start Simulation</button><br/>
  <p class="results" >Results: <result id="results">results will be shown here ...</result></p>
</section>
